@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar configurations for a premium dark mode feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #020617; 
}
 
::-webkit-scrollbar-thumb {
  background: #1e293b; 
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155; 
}
